# OS
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/
*.swp

# Logs
*.log

# Node (in case anything gets added later)
node_modules/

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.env*
!.env.example
